<a href="https://colab.research.google.com/github/AfnanHussain10/GlowingSoft_W5_Day1/blob/main/AfnanHussain_Day1_W5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random

In [16]:
df = pd.DataFrame(columns=['CustomerID','Age','Gender','MartialStatus','AnnualIncome (USD)','TotalPurchases','PreferredCategory'])
df

Empty DataFrame
Columns: [CustomerID, Age, Gender, MartialStatus, AnnualIncome (USD), TotalPurchases, PreferredCategory]
Index: []

In [17]:
id = [1001,1002,1003,1004,1005]
age = [33,28,42,51,37]
gender = ['Male','Female','Male','Female','Male']
status = ['Married','Single','Married','Single','Divorced']
income = [65000,45000,55000,80000,58000]
purchases = [18,15,20,12,10]
category = ['Electronics','Appliances','Electronics','Electronics','Appliances']

In [18]:
random.seed(1)
app_choice = ['Electronics','Appliances']
status_choice = ['Married','Single','Divorced']
gender_choice = ['Male','Female']
for i in range(6,501):
  num = random.randint(0,2)
  Age = random.randint(15,80)
  g = random.choice(gender_choice)
  s = random.choice(status_choice)
  Income = random.randint(10000,100000)
  purchase = random.randint(1,100)
  cat = random.choice(app_choice)
  id.append(1000+i)
  age.append(Age)
  gender.append(g)
  income.append(Income)
  purchases.append(purchase)
  category.append(cat)
  status.append(s)

In [19]:
df['CustomerID'] = id
df['Age'] = age
df['Gender'] = gender
df['MartialStatus'] = status
df['AnnualIncome (USD)'] = income
df['TotalPurchases'] = purchases
df['PreferredCategory'] = category
df

,CustomerID,Age,Gender,MartialStatus,AnnualIncome (USD),TotalPurchases,PreferredCategory
0,1001,33,Male,Married,65000,18,Electronics
1,1002,28,Female,Single,45000,15,Appliances
2,1003,42,Male,Married,55000,20,Electronics
3,1004,51,Female,Single,80000,12,Electronics
4,1005,37,Male,Divorced,58000,10,Appliances
...,...,...,...,...,...,...,...
495,1496,53,Male,Divorced,28127,83,Appliances
496,1497,77,Female,Divorced,14467,69,Electronics
497,1498,62,Male,Married,37980,51,Appliances
498,1499,49,Female,Divorced,54296,62,Appliances
499,1500,22,Male,Divorced,71593,23,Electronics

In [20]:
df.isna().sum()

CustomerID            0
Age                   0
Gender                0
MartialStatus         0
AnnualIncome (USD)    0
TotalPurchases        0
PreferredCategory     0
dtype: int64

In [14]:
def find_outliers_IQR(df):

   q1=df.quantile(0.25)

   q3=df.quantile(0.75)
   IQR=q3-q1
   outliers = df[((df<(q1-1.5*IQR)) | (df>(q3+1.5*IQR)))]

   return outliers

In [23]:
for col in df.columns:
  if df[col].dtype == 'int' or df[col].dtype == 'float64':
    outliers = find_outliers_IQR(df[col])
    print("Number of outliers in",col,":",len(outliers))

Number of outliers in CustomerID : 0
Number of outliers in Age : 0
Number of outliers in AnnualIncome (USD) : 0
Number of outliers in TotalPurchases : 0